$primary-color: hsl(257, 40%, 49%);
$h-font: 'Poppins';
$b-font: 'Open Sans';
// @font-face {
//     font-family: 'Poppins';
//     src: url('https://fonts.google.com/specimen/Poppins');
//     font-weight: 400, 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Open Sans';
//     src: url('https://fonts.google.com/specimen/Poppins');
//     font-weight: 400, 700;
//     font-style: normal;
// }